version: 2
jobs:
  build:
    docker:
      - image: regviz/node-xcb

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Install Japanese font
          command: sudo apt-get install fonts-ipafont-gothic fonts-ipafont-mincho

      - run: yarn install

      #build storybook!!!
      - run: yarn build-storybook

      - store_artifacts:
          path: storybook-static/
          destination: storybook

      #SS storybook!!!
      - run: yarn screenshot

      - store_artifacts:
          path: __screenshots__/
          destination: screenshot

      #reg=suit storybook!!!
      - run: yarn regression
